{% extends 'base.html' %}

{% block title %}WeConnect - Register{% endblock %}

{% block navbar %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Login</a>
</li>
{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4">
            <h2 class="text-center mb-4">Register</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
